extends layout
block append head
    script(src='/javascripts/forumPost.js')
block content

  style.
    button {
    float:right;
    }
    textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    }
    ul {
      width : 100%;
    }
    
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    color:white;
    }
    .profilepic1 {
    width:75px;
    height:auto;
    }
    .jumbotron {
    border: 2px solid black;
    float:right;
    }
  .row.justify-content-center
  
  
    .jumbotron.w-75(padding-top='500px' ng-controller = "forumPostCtrl")
      img.profilepic1(src=post.pic)
      p
        b #{post.user} 
        | posted:
      p
        strong
          | #{post.content}
      p
  .row.justify-content-center
    .jumbotron.w-50(padding-top='500px')
      ul.list-group(width='100%')
        each reply in replies
            li.list-group-item
                p
                  b #{reply.user} 
                  | commented: 
                  strong
                    |#{reply.content}
                -if(reply.user == user)
                  p
                    form(method = "delete" role = "form")
                      .form-group
                        a.button.btn.btn-secondary.btn-block(type = "button" href = '/forum/post/' + postId onclick = 'restRequestDelete("'+postId+'", "'+reply._id+'")') delete
        
  .row.justify-content-center
    .jumbotron.w-50(padding-top='500px')
      -if(typeof(user) == 'undefined')
        label You have to be logged in to be able to comment.
      -else
        form(method = "post" role = "form")
          .form-group
            textarea#exampleFormControlTextarea1.form-control(placeholder='Comment here...' method="post" name="replyContent")
          .form-group
            button.btn.btn-secondary(type='submit' align="center" method="post") Post